/********************************************
* Backend                                   *
********************************************/

/********************************************
* Front                                     *
********************************************/
#logo {
	display:block;
	margin:auto;
	text-align:center;
	width:192px;
	height:192px;
}